.card{
    display: table-cell;
    height: 135px;
    width: 100px;
    vertical-align: middle;
    padding: 3px;    
    background: url('../../../assets/images/card.png') no-repeat;
}

.cardSelected{
    display: table-cell;
    height: 135px;
    width: 100px;
    vertical-align: middle;
    padding: 3px;    
    background: url('../../../assets/images/card_selected.png') no-repeat;
}

img{
    padding-left: 13px;
    width: 72px;
    height: 29px;
}